**Workshop**

ดึงข้อมูลราคา Bitcoin ช่วงวันที่ 1/1/2021 จนถึงวันที่ 1/5/2022 แล้ว
1. Filter ราคาปิดที่มีค่ามากกว่า 60,000 USD
2. Filter Return ที่มีค่ามากกว่า 0
3. สร้าง Function แล้วให้ Print โดยมี Condition ที่ว่าหาก Return > 0 ให้ Print “Gain” หาก Return < 0 ให้ปริ้น "Loss"

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

In [11]:
raw_df = yf.download('BTC-USD', start='2021-01-01', end='2022-05-01')
raw_df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-01,28994.009766,29600.626953,28803.585938,29374.152344,29374.152344,40730301359
2021-01-02,29376.455078,33155.117188,29091.181641,32127.267578,32127.267578,67865420765
2021-01-03,32129.408203,34608.558594,32052.316406,32782.023438,32782.023438,78665235202
2021-01-04,32810.949219,33440.218750,28722.755859,31971.914062,31971.914062,81163475344
2021-01-05,31977.041016,34437.589844,30221.187500,33992.429688,33992.429688,67547324782
...,...,...,...,...,...,...
2022-04-26,40448.421875,40713.890625,37884.984375,38117.460938,38117.460938,34569088416
2022-04-27,38120.300781,39397.917969,37997.312500,39241.121094,39241.121094,30981015184
2022-04-28,39241.429688,40269.464844,38941.421875,39773.828125,39773.828125,33903704907
2022-04-29,39768.617188,39887.269531,38235.535156,38609.824219,38609.824219,30882994649
2022-04-30,38605.859375,38771.210938,37697.941406,37714.875000,37714.875000,23895713731

## Filter close price > 60k USD

In [8]:
raw_df[raw_df['Close'] > 60000].head(10)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-03-13,57343.371094,61683.863281,56217.972656,61243.085938,61243.085938,60669829814
2021-04-11,59846.230469,60790.554688,59289.796875,60204.964844,60204.964844,46280252580
2021-04-13,59890.019531,63742.285156,59869.957031,63503.457031,63503.457031,69983454362
2021-04-14,63523.753906,64863.097656,61554.796875,63109.695312,63109.695312,77451779687
2021-04-15,63075.195312,63821.671875,62208.964844,63314.011719,63314.011719,60954381579
2021-04-16,63258.503906,63594.722656,60222.531250,61572.789062,61572.789062,84293007468
2021-04-17,61529.921875,62572.175781,60361.351562,60683.820312,60683.820312,66138759198
2021-10-15,57345.902344,62757.128906,56868.144531,61593.949219,61593.949219,51780081801
2021-10-16,61609.527344,62274.476562,60206.121094,60892.179688,60892.179688,34250964237
2021-10-17,60887.652344,61645.523438,59164.468750,61553.617188,61553.617188,29032367511

## Filter return > 0

In [12]:
raw_df['return'] = raw_df.Close.pct_change()
raw_df

,Open,High,Low,Close,Adj Close,Volume,return
Date,,,,,,,
2021-01-01,28994.009766,29600.626953,28803.585938,29374.152344,29374.152344,40730301359,NaN
2021-01-02,29376.455078,33155.117188,29091.181641,32127.267578,32127.267578,67865420765,0.093726
2021-01-03,32129.408203,34608.558594,32052.316406,32782.023438,32782.023438,78665235202,0.020380
2021-01-04,32810.949219,33440.218750,28722.755859,31971.914062,31971.914062,81163475344,-0.024712
2021-01-05,31977.041016,34437.589844,30221.187500,33992.429688,33992.429688,67547324782,0.063197
...,...,...,...,...,...,...,...
2022-04-26,40448.421875,40713.890625,37884.984375,38117.460938,38117.460938,34569088416,-0.057858
2022-04-27,38120.300781,39397.917969,37997.312500,39241.121094,39241.121094,30981015184,0.029479
2022-04-28,39241.429688,40269.464844,38941.421875,39773.828125,39773.828125,33903704907,0.013575
2022-04-29,39768.617188,39887.269531,38235.535156,38609.824219,38609.824219,30882994649,-0.029266
2022-04-30,38605.859375,38771.210938,37697.941406,37714.875000,37714.875000,23895713731,-0.023179

In [14]:
raw_df[raw_df['return'] > 0]

,Open,High,Low,Close,Adj Close,Volume,return
Date,,,,,,,
2021-01-02,29376.455078,33155.117188,29091.181641,32127.267578,32127.267578,67865420765,0.093726
2021-01-03,32129.408203,34608.558594,32052.316406,32782.023438,32782.023438,78665235202,0.020380
2021-01-05,31977.041016,34437.589844,30221.187500,33992.429688,33992.429688,67547324782,0.063197
2021-01-06,34013.613281,36879.699219,33514.035156,36824.363281,36824.363281,75289433811,0.083311
2021-01-07,36833.875000,40180.367188,36491.191406,39371.042969,39371.042969,84762141031,0.069157
...,...,...,...,...,...,...,...
2022-04-18,39721.203125,40986.320312,38696.191406,40826.214844,40826.214844,33705182072,0.027929
2022-04-19,40828.175781,41672.960938,40618.632812,41502.750000,41502.750000,25303206547,0.016571
2022-04-25,39472.605469,40491.753906,38338.378906,40458.308594,40458.308594,35445730570,0.025058
2022-04-27,38120.300781,39397.917969,37997.312500,39241.121094,39241.121094,30981015184,0.029479
2022-04-28,39241.429688,40269.464844,38941.421875,39773.828125,39773.828125,33903704907,0.013575

## Create function

สร้าง Function แล้วให้ Print โดยมี Condition ที่ว่าหาก Return > 0 ให้ Print “Gain” หาก Return < 0 ให้ปริ้น "Loss"

In [18]:
def gain_loss_return(df):
    for i in range(len(raw_df)):
        # "-1" = return column
        if(df.iloc[i, -1] > 0):
            print('Gain')
        elif (df.iloc[i, -1] < 0):
            print('Loss')

In [19]:
gain_loss_return(raw_df)

Gain
Gain
Loss
Gain
Gain
Gain
Gain
Loss
Loss
Loss
Loss
Gain
Gain
Loss
Loss
Loss
Gain
Loss
Loss
Loss
Gain
Loss
Gain
Gain
Gain
Loss
Gain
Gain
Loss
Loss
Gain
Gain
Gain
Loss
Gain
Gain
Loss
Gain
Gain
Loss
Gain
Loss
Loss
Gain
Loss
Gain
Gain
Loss
Gain
Gain
Gain
Loss
Loss
Gain
Loss
Loss
Loss
Loss
Gain
Loss
Gain
Loss
Gain
Loss
Gain
Gain
Gain
Gain
Gain
Loss
Gain
Loss
Loss
Gain
Gain
Loss
Gain
Loss
Loss
Loss
Gain
Loss
Loss
Gain
Gain
Loss
Gain
Gain
Gain
Gain
Gain
Loss
Gain
Gain
Loss
Loss
Gain
Loss
Gain
Gain
Loss
Gain
Loss
Gain
Loss
Loss
Loss
Loss
Gain
Loss
Loss
Loss
Loss
Loss
Gain
Gain
Loss
Loss
Gain
Gain
Loss
Gain
Loss
Gain
Loss
Gain
Gain
Loss
Loss
Gain
Loss
Gain
Gain
Loss
Loss
Loss
Loss
Loss
Gain
Loss
Gain
Loss
Gain
Loss
Gain
Loss
Loss
Loss
Gain
Gain
Loss
Gain
Gain
Loss
Loss
Gain
Loss
Loss
Gain
Loss
Gain
Loss
Gain
Gain
Gain
Loss
Loss
Loss
Loss
Gain
Loss
Gain
Gain
Gain
Loss
Gain
Gain
Loss
Gain
Loss
Loss
Gain
Gain
Gain
Loss
Gain
Loss
Loss
Gain
Loss
Gain
Loss
Loss
Gain
Loss
Loss
Gain
Gain
Loss
Loss
Gain
Gain
Gain
Gain
Gain
Gain
Gain
Gain
Gain
Gain
Loss
Loss
Loss
Loss
Gain
Gain
Gain
Gain
Loss
Gain
Loss
Gain
Loss
Gain
Loss
Loss
Loss
Loss
Gain
Gain
Gain
Loss
Gain
Gain
Loss
Gain
Loss
Gain
Loss
Loss
Loss
Gain
Gain
Gain
Gain
Loss
Gain
Gain
Loss
Loss
Gain
Loss
Gain
Gain
Loss
Gain
Gain
Loss
Loss
Gain
Loss
Loss
Loss
Gain
Gain
Loss
Loss
Gain
Loss
Loss
Gain
Gain
Gain
Loss
Gain
Gain
Gain
Gain
Loss
Gain
Gain
Loss
Gain
Loss
Gain
Loss
Gain
Loss
Gain
Gain
Gain
Gain
Loss
Loss
Gain
Loss
Gain
Loss
Loss
Gain
Gain
Loss
Loss
Loss
Gain
Loss
Loss
Loss
Gain
Gain
Gain
Loss
Loss
Loss
Loss
Gain
Gain
Loss
Loss
Gain
Loss
Gain
Gain
Loss
Loss
Gain
Loss
Gain
Loss
Gain
Gain
Gain
Loss
Gain
Loss
Loss
Loss
Gain
Gain
Gain
Loss
Loss
Loss
Gain
Gain
Loss
Loss
Gain
Loss
Loss
Gain
Loss
Gain
Gain
Loss
Gain
Gain
Loss
Gain
Loss
Loss
Loss
Gain
Loss
Gain
Loss
Loss
Loss
Loss
Loss
Loss
Gain
Gain
Loss
Gain
Gain
Loss
Gain
Gain
Loss
Loss
Gain
Loss
Loss
Loss
Loss
Gain
Gain
Gain
Loss
Gain
Gain
Gain
Loss
Gain
Gain
Loss
Gain
Gain
Loss
Gain
Gain
Gain
Gain
Loss
Loss
Loss
Loss
Gain
Gain
Loss
Loss
Loss
Gain
Loss
Loss
Gain
Loss
Gain
Gain
Loss
Loss
Gain
Gain
Loss
Loss
Loss
Gain
Loss
Loss
Gain
Gain
Loss
Loss
Gain
Loss
Gain
Loss
Gain
Loss
Gain
Gain
Loss
Loss
Gain
Gain
Gain
Gain
Gain
Gain
Gain
Gain
Loss
Loss
Gain
Loss
Gain
Gain
Loss
Loss
Gain
Loss
Gain
Loss
Loss
Gain
Gain
Loss
Gain
Loss
Loss
Gain
Gain
Loss
Loss
Loss
Loss
Loss
Gain
Loss
Gain
Gain
Loss
Loss